# Build generated
build/
DerivedData/

# Private and sensitive directories
Private/
!Private/.gitkeep  # Allow keeping an empty directory in git

# OS Related
.DS_Store

# Various settings
*.moved-aside

# Xcode related
*.xcuserstate
xcuserdata/

# Sensitive files
*.p12
*.pem
*.cer
*.mobileprovision
*.entitlements

# Secrets
*.xcconfig
*secret*
*private*
*confidential*

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager 
Packages/
Package.pins
.build/

# Add this line if you want to avoid checking in Xcode SPM integration.
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
 SourcePackages/

# SwiftLinter
BuildTools/.build
BuildTools/.swiftpm
SwiftlintBaseline.json
Baseline.json
# Sensitive Partner API 
*.gpx
remote-config-defaults.plist
service-data.plist
GoogleService-Info.plist

/SourcePackages
/brainwallet/launch-resources/GoogleService-Info.plist
/brainwallet/launch-resources/remote-config-defaults.plist
/brainwallet/launch-resources/service-data.plist
# Storekit
/Storekit
*.storekit
Brainwallet-StoreKit-v1.storekit
/fastlane/report.xml
**/fastlane/test_output/
## Games protection
/Private
brainwallet/PreLaunchResources/topics_schema.plist
