[submodule "Modules/core"]
	path = Modules/core
	url = https://github.com/gruntsoftware/core.git
[submodule "Private/ios-games"]
	path = Private/ios-games
	url = https://github.com/gruntsoftware/ios-games.git
	update = none
	ignore = all
