[submodule "Modules/core"]
	path = Modules/core
	url = https://github.com/gruntsoftware/core.git
[submodule "Private/general-purpose"]
	path = Private/general-purpose
	url = https://github.com/gruntsoftware/ios-private-general-purpose.git
