## Litewallet related
brainwallet/service-data.plist
brainwallet/GoogleService-Info.plist
service-data.plist
GoogleService-Info.plist

## Build generated
build/
DerivedData/

## OS Related
.DS_Store

## Various settings
*.moved-aside

## Xcode related
*.xcuserstate
xcuserdata/

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager 
Packages/
Package.pins
.build/

# Add this line if you want to avoid checking in Xcode SPM integration.
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
 SourcePackages/

# SwiftFormat
BuildTools/.build
BuildTools/.swiftpm

# Sensitive Partner API 
*.gpx
brainwallet/remote-config-defaults.plist
remote-config-defaults.plist
/SourcePackages
