<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ArchiveIdentifier</key>
	<string>E0C2042A-F24C-4FDF-8D53-4696F7AFE30A</string>
	<key>EndTimeRef</key>
	<dict>
		<key>ContinuousTime</key>
		<integer>2729211020237</integer>
		<key>UUID</key>
		<string>B46824A2-4F70-48E0-86ED-7A43E362AD06</string>
		<key>WallTime</key>
		<integer>1752853117000000000</integer>
	</dict>
	<key>HighVolumeMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>2727171134391</integer>
			<key>UUID</key>
			<string>B46824A2-4F70-48E0-86ED-7A43E362AD06</string>
			<key>WallTime</key>
			<integer>1752853032000000000</integer>
		</dict>
	</dict>
	<key>HighVolumeSizeLimit</key>
	<integer>18446744073709551615</integer>
	<key>LiveMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>2727194316943</integer>
			<key>UUID</key>
			<string>B46824A2-4F70-48E0-86ED-7A43E362AD06</string>
			<key>WallTime</key>
			<integer>1752853032970695666</integer>
		</dict>
	</dict>
	<key>OSArchiveVersion</key>
	<integer>5</integer>
	<key>OSLoggingSupportProject</key>
	<string>libtrace-1510.122.1</string>
	<key>OSLoggingSupportVersion</key>
	<real>1510.1220000000001</real>
	<key>PersistMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>2727171134391</integer>
			<key>UUID</key>
			<string>B46824A2-4F70-48E0-86ED-7A43E362AD06</string>
			<key>WallTime</key>
			<integer>1752853032000000000</integer>
		</dict>
	</dict>
	<key>PersistSizeLimit</key>
	<integer>18446744073709551615</integer>
	<key>SignpostMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>2727194316791</integer>
			<key>UUID</key>
			<string>B46824A2-4F70-48E0-86ED-7A43E362AD06</string>
			<key>WallTime</key>
			<integer>1752853032970689333</integer>
		</dict>
	</dict>
	<key>SignpostSizeLimit</key>
	<integer>18446744073709551615</integer>
	<key>SourceIdentifier</key>
	<string>F226B68C-383F-402E-B77D-0656EED5DB79</string>
	<key>SpecialMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>2727171134391</integer>
			<key>UUID</key>
			<string>B46824A2-4F70-48E0-86ED-7A43E362AD06</string>
			<key>WallTime</key>
			<integer>1752853032000000000</integer>
		</dict>
		<key>TTL</key>
		<dict/>
	</dict>
	<key>SpecialSizeLimit</key>
	<integer>18446744073709551615</integer>
</dict>
</plist>
